html
    
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    
    body.bg-warning
        .navbar.navbar-expand-lg.navbar-dark.bg-dark
            p.navbar-brand NSQA99
            .navbar-nav
                a.nav-item.nav-link(href="/user/home") Home
                a.nav-item.nav-link(href="/user/signup") Signup
        block content    